body {
	background-color: #f7e7cb;
	font-style: helvetica;
	letter-spacing: 1px;
}
.header { 
	background: black url(/capstone/img/header_bg.png) repeat-x;
	width: 100%;
	height: 299px;
	border:0;
	padding:0;
	margin:0;
}
.nav_row {
    height: 64px;
    font: bold 16px arial;
    	text-decoration: none;	
    	position: relative;
    	top: -52px;
}
.nav_row div {
    margin: 10px;
}
.nav_row div a 	{
	padding:22px 30px 24px 30px;
}
.nav_button_left {float: left;color: white;}
.nav_button_left a{color: white;text-decoration: none;}
.nav_button_left a:hover{background-color: rgba(255, 255, 255, 0.5);color: black;text-decoration: none;}

.nav_button_right {float: right;color: white;}
.nav_button_right a {color: white;text-decoration: none;}
.nav_button_right a:hover {background-color: rgba(255, 255, 255, 0.5);color: black;text-decoration: none;}

.outter_main_container {
	padding: 0 30px 30px 30px;
	}
.inner_main_container {
	background-color: white;
	padding:20px;
	border-radius:20px;
	border: 2px solid grey;
	max-width: 800px;
	margin: auto;
}
.error {
	    font: normal 12px arial;
	    color: red;
}
footer {
	text-align: center;
	font: bold 12pt arial;
	color: grey;
}
hr {
	width: 80%;
	height: 1px;
	border: thin solid grey;
	background-color: grey;
}
label {
	position: relative;
	left: -50%
}
input {
	width: 200% !important;
	position: relative;
	left: -50%;
	max-width: 500px;
}
.subNavigation{
	border: 0;
	padding: 30px 5px 10px 5px;
	max-width: 800px;
	margin: auto;
	text-decoration: none;	
}

#page_title{
	font: bold 22pt Arial;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgrey;
	letter-spacing: 1px;
	padding:5px;
	text-align: left;
	float: left;
}
.subNavButton{
	float: right;
	border: thin solid black;
	border-radius: 5px;
	padding: 10px;
}
.subNavigation a{color: black;text-decoration: none;}
.subNavigation a:hover{background-color: rgba(255, 255, 255, 0.5);color: black;text-decoration: none;}

#currentUser {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
.content_col{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 0;
}
.content_row{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    white-space: nowrap;
}
.content_row input{
	width: 150%;
	white-space: nowrap;
}
.content_row_old table {
	width: 500px;
}
.section_button{
	width: 50px !important;
	border-radius: 5px;
}
.players {
	width: 450px;
	position: relative;
	left:-150px;
}
.add_user{
	width: 300px !important;
}
.add_button{
	border-radius: 5px !important;
}
.add_label{
	display: relative !important;
	float: left !important;
	left: -100px !important;
	width: 100% !important;
	margin:0 !important;
	font: bold 11pt arial;
	margin: 5px 0 0 0 !important;
}
.add_input input {
	left: 0;
	width: 400px;
}
.submit_button{
	width:100%;
	border: 0;
	text-align: center;
}
.section_label{
	font: bold 14pt arial;
	width: 100%;
	text-align: center;
}
.admin_name{
	font-weight: normal !important;
}
.remove_button {
	border-radius: 5px;
	font: normal 9pt arial;
	color: grey;
}
ul {
  list-style: none;
}
li {
  list-style: none;
  margin: 0 0 0 -20px;
}
.games_table{
	padding: 5px;
	width: 100%;
}
.table_row{
	padding: 5px;
	border-bottom: thin solid grey;
}
.table_col1{
	padding: 5px;
	width: 50%;
}
.table_col2{
	padding: 5px;
	width: 25%;
}
.table_col3{
	padding: 5px;
	width: 25%;
}
.table_header{
	font: bold 12pt arial;
	color: brown;
}
.stock_table{
	width: 700px;;
}
.stock_row{
}
add_stock_label{
	width: 15%;
}
.add_stock_cell{
	width: 15%;
	text-align: center;
}
.add_stock_input{
	width: 50px !important;
	left:0 !important;
}
.add_stock_button{
	width: 70%;
	text-align: left !important;
	align: left !important;
}
#symbolLookup{
	display: none;	
}
.stock_header{
	font: bold 10pt arial;
	color: brown;
}
#qty_field{
	width:40px !important;
}
.stocks_table{
	width: 100%;
}